.scene.svelte-1cdr2kz{background-color:transparent;display:block;font-family:sans-serif;font-variant-numeric:tabular-nums;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;user-select:none}
